<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>24RGB</key>
	<integer>24</integer>
	<key>24BGR</key>
	<integer>842285639</integer>
	<key>32ARGB</key>
	<integer>32</integer>
	<key>32BGRA</key>
	<integer>1111970369</integer>
	<key>32ABGR</key>
	<integer>1094862674</integer>
	<key>32RGBA</key>
	<integer>1380401729</integer>
	<key>4444YpCbCrA8</key>
	<integer>1983131704</integer>
	<key>4444AYpCbCr8</key>
	<integer>2033463352</integer>
	<key>444YpCbCr8</key>
	<integer>1983066168</integer>
	<key>420YpCbCr8Planar</key>
	<integer>2033463856</integer>
	<key>16LE555</key>
	<integer>1278555445</integer>
	<key>16LE5551</key>
	<integer>892679473</integer>
	<key>16LE565</key>
	<integer>1278555701</integer>
	<key>420YpCbCr8BiPlanarVideoRange</key>
	<integer>875704438</integer>
	<key>420YpCbCr8BiPlanarFullRange</key>
	<integer>875704422</integer>
	<key>422YpCbCr8</key>
	<integer>846624121</integer>
	<key>420YpCbCr8PlanarFullRange</key>
	<string>1714696752</string>
</dict>
</plist>
