<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ScaleToFill</key>
	<integer>0</integer>
	<key>ScaleAspectFit</key>
	<integer>1</integer>
	<key>ScaleAspectFill</key>
	<integer>2</integer>
	<key>Center</key>
	<integer>4</integer>
	<key>Top</key>
	<integer>5</integer>
	<key>Bottom</key>
	<integer>6</integer>
	<key>Left</key>
	<integer>7</integer>
	<key>Right</key>
	<integer>8</integer>
	<key>TopLeft</key>
	<integer>9</integer>
	<key>TopRight</key>
	<integer>10</integer>
	<key>BottomLeft</key>
	<integer>11</integer>
	<key>BottomRight</key>
	<integer>12</integer>
</dict>
</plist>
